<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
    <title>Doraemon | Dashboard</title>
</head>
<body>
{% block content %}

<div class="columns is-mobile is-multiline is-narrow-mobile">
{% if not guild %}
    <h1 class="no-server" style="margin:10px">No Servers Found, <a href="https://discord.com/api/oauth2/authorize?client_id=733732900939366427&permissions=8&scope=bot">Invite Antonn</a></h1>
{% else %}
{% for guild in guild %}

<div class="column is-two-fifths server">
<div class="card"  onclick="redirect('{{guild.id}}')">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png" alt="Avatar" class="server-image">
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-4" style="padding-top:8px;">{{guild.name}}</p>
            </div>

        </div>
    </div>

</div>
</div>
{% endfor %}
{% endif %}
</div>

<script>
    function redirect(id){
        window.location.href="/dashboard?ID=" + id
    }

</script>

{% endblock %}
</body>
</html>