<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
    <title>Doraemon | Dashboard</title>
</head>
<body>
{% block content %}

{% if not guild %}
    <h1 class="no-server" style="margin:10px">No Servers Found</h1>
{% else %}
<h1>Your Servers:</h1>
<div class="row">
    {% for guild in guild %}
    <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png" class="card-img-top" alt="{{ guild.name }}">
            <div class="card-body">
              <h5 class="card-title">{{guild.name}}</h5>
              <button class="btn btn-success" onclick="redirect('{{guild.id}}')">Customize</button> <a href="https://discord.com/api/oauth2/authorize?client_id=709321027775365150&permissions=8&scope=bot&guild_id={{ guild.id }}" target="_blank"><button class="btn btn-info">Invite</button></a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>

{% endif %}


<script>
    function redirect(id){
        window.location.href="/dashboard?ID=" + id
    }

</script>

{% endblock %}
</body>
</html>