<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
    <title>Doraemon | Dashboard</title>
</head>
<body>
{% block content %}

<div class="columns is-mobile is-multiline is-narrow-mobile">
{% if not guild %}
    <h1 class="no-server" style="margin:10px">No Servers Found, <a href="https://discord.com/api/oauth2/authorize?client_id=733732900939366427&permissions=8&scope=bot">Invite Antonn</a></h1>
{% else %}
{% for guild in guild %}

<div class="column is-two-fifths server">
    <div class="card" onclick="redirect('{{guild.id}}')"  style="width: 18rem;">
        <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{guild.name}}</h5>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}


<script>
    function redirect(id){
        window.location.href="/dashboard?ID=" + id
    }

</script>

{% endblock %}
</body>
</html>